html {
    background-color: black;
}

body {
    background-image: url("images/floor.png");
}

body, html {
    margin: 0;
    padding: 0;
}

.starlayer1 {
z-index: 1;
position: absolute;
top: 0px;
left: 0px;
}

.starlayer2 {
z-index: 2;
position: absolute;
top: 0px;
left: 0px;
}

.starlayer3 {
z-index: 3;
position: absolute;
top: 0px;
left: 0px;
}


/*    background-image: url("images/floor.png");
    background-repeat: repeat-x;*/