html {
    background-color: black;
    
}

body {
    background-image: url("images/floor.png");
}

body, html {
    margin: 0;
    padding: 0;
}



/*    background-image: url("images/floor.png");
    background-repeat: repeat-x;*/